* {
    background-color: lavender;
    font-family: monospace;
}
header {
    display: grid;
    background-color: skyblue;
    width : 75%;
    font-family: monospace;
    grid-template-areas: 
    "img heading";
    margin : 0 auto;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
header img {
    grid-area:img ;
    background-color: skyblue;
    height: 240px;
}
header h1{ 
    text-align: center;
    height: 240px;
    font-size: 40px;
    grid-area: heading;
    background-color: skyblue;
}
.container {
    margin : 0 auto;
    width: 75%;
    margin-top: 20px;
    display : grid;
    grid-template-areas:
    ". select . ."
    ". section section ."
    ". form form . "
    ". ul ul ."
}

select {
    background-color: white;
    grid-area: select;
    margin-right: 200px;
    width: 300px;
}

section {
    margin: 60px;
    width: 75%;
    grid-area : section;
}

form {
    grid-area : form ;
}
#selected_title{
    background-color: white;
}

ul {
    grid-area: ul;
}

.btn {
    width : 200px;
    background-color:whitesmoke;
}